html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: Arial;
	font-size: 14px;
	line-height: 18px;
	color: #3A3A3A;
}

input,textarea {
	-webkit-appearance: none; /*for ios*/
}

a {
	text-decoration: none
}

p {
	margin: 0 0 10px
}

hr {
	border: 0;
	background-color: gray;
	color: gray;
	height: 1px;
}

.errorstyle {
	color: red;
	font-style: oblique;
	display: block;
}

.halfseethrough{
	background-color: rgba(255,255,255,0.5);
}

.button {
	color: white;
	background-color: #fb1947;
	display: inline-block;
	height: 40px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	line-height: 40px;
	padding: 0 10px;
	border: 0;
}

.invertedbutton {
	color: #fb1947 !important;
	background-color: rgba(255,255,255,0.5) !important;
	border: 1px solid !important;
	border-color: #fb1947 !important;
}

.button+.button {
	margin-left: 5px;
}

.button.first {
	float: left;
	margin-left: 0px;
	margin-right: 5px;
}

.button.middle {
	margin-left: 5px;
	margin-right: 5px;
}

.button.last {
	float: right;
	margin-left: 5px;
	margin-right: 0px;
}

.button:disabled {
	background-color: #aaaaaa;
}

.invertedbutton:disabled {
	background-color: #aaaaaa;
}

.clear {
	clear: both;
}

#contentwrapper {
	margin: 0 auto;
	max-width: 1200px;
	min-height: 960px;
	width: 100%;
	background-image:
		url('#{request.contextPath}/resources/images/yescommentyell4800.png');
	background-repeat: no-repeat;
}

#contentwrapper #main {
	margin-left: 320px;
}

#contentwrapper article {
	padding: 10px 40px 10px 40px;
}

#contentwrapper #top {
	padding: 20px 40px 20px 40px;
}

#contentwrapper #top table {
	border-collapse: collapse;
	width: 100%
}

#contentwrapper #top td {
	padding: 0
}

#contentwrapper #top td:first-of-type {
	width: 100%
}

#contentwrapper #top input {
	display: block
}

#dotherightthing {
	width: 320px;
	float: left;
}

#dotherightthing .headerbuttons {
	margin: 20px auto 0 auto;
	display: block;
	width: 280px;
}

#dotherightthing h1 a {
	display: block;
	background-color: #fb1947;
	width: 60px;
	height: 60px;
	float: left;
	margin: 0 10px 10px 0;
}

#dotherightthing h1 a img {
	display: block;
	padding-left: 10px;
	padding-top: 10px;
	width: 40px;
	height: 40px;
	width: 40px;
}

#dotherightthing .yescommentheaderboxtext {
	float: left;
	line-height: 60px;
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
	font-size: 19px;
	text-align: center;
	white-space: nowrap;
	padding: 0 20px;
	width: 170px;
}

#dotherightthing h2 {
	margin: 0 auto;
	width: 280px;
}

#dotherightthing h2 a {
	display: block;
	width: 135px;
	padding: 0
}

#searcharticleform {
	margin: 0;
}

#searcharticleform:hover #searcharticleform\:searchbutton {
	background-image:
		url('#{request.contextPath}/resources/images/yescommenticonsearchlinkhover.jpg');
}

#searcharticleform:hover #searcharticleform\:searchedurl {
	border-color: #fb1947;
}

#searcharticleform\:searchedurl {
	border: 4px solid #444444;
	height: 60px;
	width: 100%;
	line-height: 60px;
	border-radius: 0;
	color: #fb1947;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 18px;
}

#searcharticleform\:searchbutton {
	background-image:
		url('#{request.contextPath}/resources/images/yescommenticonsearchlink.jpg');
	min-width: 60px;
	width: 60px;
	height: 60px;
	border: 0;
	border-radius: 0;
}

#searcharticleform\:searchedurlmessage {
	max-width: 735px;
	margin: 0;
	padding: 0;
}

.articlepreview {
	display: table;
	margin-bottom: 30px;
	margin-top: 10px;
}

.articlepreview .articlepreviewheader {
	display: table-cell
}

.articlepreview .articlepreviewimage {
	width: 100px;
	height: 100px;
	overflow: hidden;
	margin-bottom: 5px;
}

.articlepreview .articlepreviewheader img {
	width: 100%;
	height: auto;
	display: block;
}

.articlepreview .articlepreviewheader .button {
	width: 45px;
	padding: 0 10px 0 45px;
	text-align: left;
	background-image:
		url('#{request.contextPath}/resources/images/speaker.png');
	background-size: 40px 40px;
	background-repeat: no-repeat;
}

.articlepreview .articlepreviewdata {
	padding: 0 0 0 10px;
	display: table-cell;
	vertical-align: top;
}

.articlepreview .articlepreviewdata h1 {
	margin: 0 0 5px;
}

.articlepreview .articlepreviewdata h1 a {
	font-size: 20px;
	line-height: 22px;
	color: #fb1947;
	text-transform: uppercase;
}

.articlepreview .articlepreviewdata p cite {
	font-size: 10px;
	line-height: 12px;
	margin: 0 0 5px;
}

.articlepreview .articlepreviewdata p.articledescriptiontext {
	display: block;
	max-height: 54px; /*egy sor 18px*/
	overflow: hidden;
}

.articlepreview .articlepreviewdata p.articlepreviewkeywords {
	margin-bottom: 0px;
	font-size: 12px;
	line-height: 13px;
	display: block;
	max-height: 39px; /*egy sor 13px*/
	overflow: hidden;
}

.articlepreview .articlepreviewdata p.articlepreviewkeywords a {
	color: red;
}

.articlelist {
	
}

#tagcloud {
	width: 100%;
	border: 1px solid;
	border-color: #fb1947;
	line-height: 30px;
	margin-top: 10px;
}

#tagcloud li a {
	background-color: #fb1947;
	text-align: center;
	margin: 2px 6px;
	padding: 2px 6px;
	color: #FFFFFF;
}

#tagcloud li a.ui-state-hover {
	/*disable primefaces hover*/
	background: none;
	background-color: #fb1947;
	box-shadow: none;
}

#searchkeywordform table {
	border-collapse: collapse;
	width: 75%
}

#searchkeywordform  td {
	padding: 0;
}

#searchkeywordform {
	margin: 0;
}

#searchkeywordform:hover #searchkeywordform\:keywordsearchbutton {
	background-image:
		url('#{request.contextPath}/resources/images/yescommenticonkwsearchhover50.jpg');
}

#searchkeywordform:hover #searchkeywordform\:searchedkeyword {
	border-color: #fb1947;
}

#searchkeywordform\:searchedkeyword {
	border: 2px solid #444444;
	height: 50px;
	width: 100%;
	line-height: 50px;
	border-radius: 0;
	color: #fb1947;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 18px;
}

#searchkeywordform\:keywordsearchbutton {
	background-image:
		url('#{request.contextPath}/resources/images/yescommenticonkwsearch50.jpg');
	min-width: 50px;
	width: 50px;
	height: 50px;
	border: 0;
	border-radius: 0;
}

#searchkeywordform\:searchedkeywordmessage {
	max-width: 535px;
	margin: 0;
	padding: 0;
}

#contentwrapper #footer {
	padding: 20px 40px 20px 40px;
}

.footerlink {
	color: #fb1947;
	margin: 3;
	font-size: 12px;
}

.newarticlekeyword {
	color: #aaaaaa;
}

.oneselectorbutton {
	/*not disaled is not selected*/
	color: #fb1947 !important;
	background-color: rgba(255,255,255,0.5) !important;
	border: 1px solid !important;
	border-color: #fb1947 !important;
}

.oneselectorbutton:disabled {
	/*disaled is selected*/
	color: white !important;
	background-color: #fb1947 !important;
	border: 0 !important;
}

.onecomment {
	display: block;
	padding: 0px 20px;
}

.onecomment.highlighted {
	background-color: rgba(251, 25, 71, 0.05);
	padding: 10px 20px;
}

.upvotecount {
	color: #75de87;
	margin-left: 10px;
}

.downvotecount {
	color: #fb1947;
	margin-left: 10px;
}

.commentnumber,.commentauthor,.commentdate,.commentvoteform,.commentlink
	{
	display: inline-block;
	line-height: 30px;
}

.commentnumber,.commentauthor,.upvotecount,.downvotecount {
	font-size: 24px;
}

.commentvoteform {
	float: right;
}

.commentvoteform {
	margin-right: 10px;
}

.commenttext {
	white-space: pre-wrap;
	font-family: Georgia;
	display: block;
}

.originalarticlelink {
	text-align: right;
	display: block;
	color: #303030;
}

#newcommentform\:newCommentText {
	width: 100%;
	display: block;
	height: 120px;
	font-family: "Arial";
}

.commentpaginator {
	text-align: center;
	display:block;
}

.paginatorlink {
	margin-left: 3px;
	margin-right: 3px;
}

.paginatorpageinfo {
	margin-left: 3px;
	margin-right: 3px;
	font-size: 23px;
	color: #fb1947;
}

#newcommentform\:newcommentauthor {
	float: left;
	height: 50px;
	width: 25%;
}

#newcommentform\:newcommentcaptcha {
	float: left;
	height: 50px;
	width: 50%;
}
#newcommentform\:newcommentpost {
	float: left;
	height: 50px;
	width: 25%;
}


#newcommentform\:name {

	font-family: "Arial";
	font-size: 18px;
}

.captchaoption {
	margin: 2px;
	font-size: 14px;
}

#newcommentform\:postcommentbutton {
	width:100%;
}

.captcharefresh {
	margin-left:5px;
	margin-right:5px;
}