html,body {
	margin: 0;
	padding: 0;
}

header {
	background-image: url('/YesCommentWeb/resources/images/yellimage.png');
	width: 320px;
	height: 100%;
	position: fixed;
	z-index: 999;
}

#contentwrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

#contentwrapper article {
	margin-left: 320px;
	padding: 100px 10px 10px 10px;
}

#contentwrapper #topdiv {
	margin-left: 320px;
	position: fixed;
	background-color: white;
	height: 100px;
	z-index: 9999;
	width: 100%;
	max-width: 880px;
}

#contentwrapper #footerdiv {
	margin-left: 320px;
	padding: 10px;
}

#searcharticleform {
	padding: 10px;
	margin: 0;
}

#searcharticleform:after {
	display: block;
	content: "";
	clear: both;
}

#searcharticleform\:searchedurl {
	float: left;
	width: 480px;
	margin-right: 10px;
}

#searcharticleform\:searchbutton {
	float: left;
}

.articlepreview {
	border: 1px solid gray;
	background-color: lightgray;
}

.articlepreview:after{
	display: block;
	content: "";
	clear: both;
}
.articlepreview .articlepreviewimage {
	float: left;
}

.articlepreview .articlepreviewimage img {
	width: 100px;
	height: auto;
}

.articlepreview .articlepreviewdata {
	padding: 10px;
	float: left;
}

.articlepreview .articlepreviewdata h1 {
	margin-top: 0px;
	margin-bottom: 5px;
	line-height:14px;
}

.articlepreview .articlepreviewdata h1 a {
	color: green;
	font-size: 12px;
	line-height:14px;
	font-weight: bold;
	text-decoration: none;
}

.articlepreview .articlepreviewdata h2 {
	font-size: 10px;
	line-height:12px;
	font-weight: normal;
	text-decoration: none;
	margin-bottom: 5px;
}

.articlepreview .articlepreviewdata p {
	margin-bottom: 5px;
	font-size: 10px;
	line-height:12px;
}

.articlepreview .articlepreviewdata p.articlepreviewkeywords {
	margin-bottom: 0px;
}

.articlepreview .articlepreviewdata p.articlepreviewkeywords a {
	color: red;
	font-size: 9px;
	line-height:10px;
	text-decoration: none;
}