#embeddedheaderform {
	height: 40px;
}

#embeddedheaderdata {
	background-color: rgb(251, 25, 71);
	float:left;
}

.embeddabletitle,.embeddablecommentcount {
	font-size: 30px;
	color: white;
	vertical-align: 5px;
}

.embeddablelogo {
	width: 30px;
	height: 30px;
}

#embeddablelogindiv {
	float:right;
	margin-top: 5px;
	min-height: 35px;
}

.embeddedloginerror {
	display: inline !important;
	font-size: 10px;
}

.embeddedlogininput {
	width: 110px;
}

@media only screen and (max-width: 640px) {
	#embeddedheaderform {
		height: 80px;
	}
	#embeddedheaderdata,#embeddablelogindiv {
		position: relative;
	}
}