html,body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	font-family: Arial;
	font-size: 14px;
	line-height: 18px;
	color: #3F3F3F;
}

a {
	text-decoration: none;
}

p {
	margin: 0px 0px 10px;
}

hr {
	border: 0px;
	background-color: gray;
	color: gray;
	height: 1px;
}

input[type=text],input[type=password] {
	width: 150px;
}

textarea {
	font-family: Arial;
	letter-spacing: 1px;
}

.errorstyle {
	color: red;
	font-style: oblique;
	display: block;
}

.halfseethrough {
	background-color: rgba(255, 255, 255, 0.5);
}

.button {
	color: white;
	background-color: rgb(251, 25, 71);
	display: inline-block;
	height: 40px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	line-height: 40px;
	padding: 0px 10px;
	border: 0px;
}

.invertedbutton {
	color: rgb(251, 25, 71) !important;
	background-color: rgba(255, 255, 255, 0.5) !important;
	border: 1px solid !important;
	border-color: rgb(251, 25, 71) !important;
}

.button.first {
	float: left;
	margin-left: 0px;
	margin-right: 5px;
}

.button.middle {
	margin-left: 5px;
	margin-right: 5px;
}

.button.last {
	float: right;
	margin-left: 5px;
	margin-right: 0px;
}

.button:disabled {
	background-color: #aaaaaa;
}

.invertedbutton:disabled {
	background-color: #aaaaaa;
}

.clear {
	clear: both;
}

#contentwrapper {
	margin: 0px auto;
	max-width: 1200px;
	min-height: 820px;
	width: 100%;
	background-image:
		url('#{request.contextPath}/resources/images/yescommentyell340highcontrast.png');
	background-repeat: no-repeat;
	background-position: 0px 20px;
}

#contentwrapper main {
	margin-left: 320px;
}

#contentwrapper article {
	padding: 10px 40px 10px 40px;
}

#contentwrapper #top {
	padding-top: 10px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 20px;
}

#dotherightthing {
	width: 320px;
	float: left;
}

.headernav {
	margin: 50px auto 0px auto;
	background-color: rgba(251, 25, 71, 0.9);
	height: 112px;
}

.mainnavigationlink {
	height: 56px;
	width: 100%;
}

.mainnavigationlink  img {
	padding-left: 2px;
	padding-top: 2px;
	height: 52px;
	width: 52px;
	float: left;
}

.yescommentheaderboxtext {
	color: white;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	padding: 0px 2px;
	height: 56px;
	line-height: 56px;
}

.menu {
	color: white;
	width: 100%;
}

#menu-button {
	box-sizing: border-box;
	height: 56px;
	cursor: pointer;
}

.menuicon {
	width: 56px;
	height: 56px;
	float: left;
}

#menu-dropdown {
	overflow: hidden;
	display: none; /*initial, can be toggled to block*/
	background-color: rgba(251, 25, 71, 0.9);
	position: absolute;
	width: 320px;
}

#menu-dropdown .menu-items {
	list-style: none;
	padding: 0 !important;
}

#menu-dropdown .menu-items li {
	opacity: 1;
}

#menu-dropdown .menu-items li:hover {
	opacity: 0.9;
}

.menuitemlink {
	color: white;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	line-height: 40px;
	padding: 0px 10px;
}

.articlepreview {
	display: table;
	margin-bottom: 10px;
	margin-top: 20px;
}

.articlepreview .articlepreviewheader {
	display: table-cell;
}

.articlepreview .articlepreviewimage {
	width: 100px;
	height: 100px;
	overflow: hidden;
	margin-bottom: 5px;
}

.articlepreview .articlepreviewheader img {
	width: 100%;
	height: auto;
	display: block;
}

.articlepreview .articlepreviewheader .button {
	width: 45px;
	padding: 0px 10px 0px 45px;
	text-align: left;
	background-image:
		url('#{request.contextPath}/resources/images/speakerphone.svg');
	background-size: 40px 40px;
	background-repeat: no-repeat;
}

.articlepreview .articlepreviewdata {
	padding: 0px 0px 0px 10px;
	display: table-cell;
	vertical-align: top;
}

.articlepreview .articlepreviewdata h1 {
	margin: 0px 0px 5px;
}

.articlepreview .articlepreviewdata h1 a {
	font-size: 20px;
	line-height: 22px;
	color: rgb(251, 25, 71);
	text-transform: uppercase;
}

.articlepreview .articlepreviewdata p cite {
	font-size: 10px;
	line-height: 12px;
	margin: 0px 0px 5px;
}

.articlepreview .articlepreviewdata p.articledescriptiontext {
	display: block;
	max-height: 54px; /*egy sor 18px*/
	overflow: hidden;
}

.articlepreview .articlepreviewdata p.articlepreviewkeywords {
	margin-bottom: 0px;
	font-size: 12px;
	line-height: 13px;
	display: block;
	max-height: 39px; /*egy sor 13px*/
	overflow: hidden;
}

.articlepreview .articlepreviewdata p.articlepreviewkeywords a {
	color: red;
	margin: 0px 2px;
}

.articlelist {
	margin-top: 30px;
	display: block;
}

.noresultarticles {
	font-size: 20px;
}

#contentwrapper #footer {
	padding: 20px 40px 20px 40px;
}

.footerlink {
	color: rgb(251, 25, 71);
	margin: 3px;
	font-size: 15px;
}

.booleancharsign {
	font-size: 20px;
}

.newarticlekeyword {
	color: #aaaaaa;
}

.newarticlecheckicon {
	height: 20px;
	width: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.newarticleimportbutton {
	font-size: 18px;
	line-height: 18px;
	padding: 0px 10px;
}

.newarticlecheckbutton {
	display: none;
}

.newarticleinforefresh {
	width: 25px;
}

.oneselectorbutton {
	/*not disabled is not selected*/
	color: rgb(251, 25, 71) !important;
	background-color: rgba(255, 255, 255, 0.5) !important;
	border: 1px solid !important;
	border-color: rgb(251, 25, 71) !important;
	width: 200px;
}

.oneselectorbutton:disabled {
	/*disabled is selected*/
	color: white !important;
	background-color: rgb(251, 25, 71) !important;
	border: 0px !important;
}

.onecomment {
	display: block;
}

.onecomment.highlighted {
	background-color: rgba(251, 25, 71, 0.05);
	padding: 10px 0px;
	border: 1px #fd8ca3 solid;
}

.upvotecount {
	color: rgb(251, 25, 71);
	margin-left: 5px;
	font-size: 22px;
}

.downvotecount {
	color: #444444;
	margin-left: 5px;
	font-size: 22px;
}

.voteimage {
	width: 25px;
	height: 25px;
}

.commentnumber,.commentauthor,.commentdate,.commentreply,.commentvoteandreply,.commentlink
	{
	display: inline-block;
}

.commentreplyinfo {
	margin-left: 20px;
	margin-bottom: 10px;
}

.commentnumber,.commentauthor {
	font-size: 22px;
}

.commentdate {
	font-size: 14px;
}

.linktoreplied {
	color: rgb(251, 25, 71);
}

.replyicon {
	width: 30px;
	height: 25px;
	margin-left: 5px;
}

.commentvoteandreply {
	float: right;
}

.replyoficon {
	height: 14px;
	margin-left: 5px;
	margin-right: 3px;
}

.commenttext {
	white-space: pre-wrap;
	display: block;
	letter-spacing: 1px;
	padding: 0px 20px;
}


.hiddencommenttext {
	color: #b0b0b0;
}


.linkinsidecomment{
color: rgba(251, 25, 71, 0.7);
}

.originalarticlelink,.shareemaillink {
	text-align: right;
	display: block;
	color: #303030;
}

.undoreply {
	width: 20px;
	height: 20px;
	margin-left: 5px;
}

#newcommentform\:newCommentText {
	width: 100%;
	display: block;
	height: 120px;
	font-size: 14px;
	margin-bottom: 5px;
}

.paginator {
	text-align: center;
	display: block;
}

.paginatorlink {
	margin-left: 3px;
	margin-right: 3px;
}

.paginatoricon {
	width: 30px;
	height: 20px;
}

.paginatorpageinfo {
	margin-left: 3px;
	margin-right: 3px;
	font-size: 23px;
	color: rgb(251, 25, 71);
}

#newcommentform\:newcommentauth {
	float: left;
	min-height: 50px;
	width: 70%;
}

#newcommentform\:newcommentpost {
	float: left;
	min-height: 50px;
	width: 30%;
	min-width: 50px;
}

#newcommentform\:name {
	font-family: Arial;
	font-size: 22px;
}

.captcharefreshicon,.captchavalidateicon {
	height: 30px;
}

#newcommentform\:postcommentbutton {
	width: 100%;
}

#newcommentform\:captchaintro {
	color: red;
}

#tagcloud {
	width: 100%;
	border: 1px solid;
	border-color: rgb(251, 25, 71);
	line-height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
	font-size: 20px;
}

#tagcloud ul {
	margin: 10px;
	padding: 0;
	text-align: center;
}

#tagcloud ul li {
	list-style: none outside none;
	display: inline-block;
	padding: 2px;
}

#tagcloud ul li a {
	background-color: rgb(251, 25, 71);
	text-align: center;
	color: #FFFFFF;
	text-decoration: none;
}

.commentsheaderform {
	margin-top: 50px;
}

.commentsformheadertext {
	font-size: 24px;
	font-weight: bold;
}



.commentordericon {
	width: 32px;
	height: 32px;
	margin-left: 5px;
}

.commentlinkicon {
	width: 20px;
	height: 20px;
}

.spacedheading {
	letter-spacing: 3px;
}

.maintext {
	display: block;
	font-size: 16px;
	letter-spacing: 1px;
}

.news {
	margin: 30px 0px;
}

.newsTitle {
	font-size: 20px;
	color: rgb(251, 25, 71);
	float: left;
	margin-right: 10px;
}

.newsDate {
	float: left;
}

.newsText {
	margin-top: 15px;
	display: block;
	letter-spacing: 1px;
}

#feedbackform\:subject {
	width: 100%;
	display: block;
	font-size: 14px;
}

#feedbackform\:text {
	width: 100%;
	display: block;
	height: 120px;
	font-size: 14px;
}

#feedbackform\:sendfeedbackbutton {
	font-size: 18px;
	line-height: 18px;
	padding: 0px 10px;
}

#searcharticlediv {
	border: 3px solid #444444;
	width: 100%;
	padding-left: 5px;
}

#searcharticlediv:hover {
	border-color: rgb(251, 25, 71);
}

#searcharticlediv:hover #searcharticleform\:searchbutton {
	background-image:
		url('#{request.contextPath}/resources/images/searchhover.svg');
}

#searcharticlemessagediv {
	margin: 0px;
	padding: 0px;
}

#searcharticleform\:searchedurl {
	height: 50px;
	color: rgb(251, 25, 71);
	font-size: 18px;
	border: 0px;
	width: 100%;
	outline: none;
}

#searcharticleform\:searchbutton {
	background-image:
		url('#{request.contextPath}/resources/images/search.svg');
	background-size: 40px 40px;
	background-color: rgba(255, 255, 255, 0);
	min-width: 40px;
	width: 40px;
	height: 40px;
	border: 0px;
	border-radius: 0px;
	margin-top: 5px;
	cursor: pointer;
}

#searcharticleform\:searchedurlmessage {
	margin: 0px;
	padding: 0px;
}

#searcharticlebuttondiv {
	float: right;
	height: 50px;
	width: 45px;
	margin-left: 5px;
}

#searcharticleinputdiv {
	height: 50px;
	overflow: hidden;
}

#searchkeyworddiv {
	border: 2px solid #444444;
	width: 60%;
	padding-left: 5px;
}

#searchkeyworddiv:hover {
	border-color: rgb(251, 25, 71);
}

#searchkeyworddiv:hover #searchkeywordform\:keywordsearchbutton {
	background-image:
		url('#{request.contextPath}/resources/images/searchhover.svg');
}

#searchkeywordmessagediv {
	margin: 0px;
	padding: 0px;
}

#searchkeywordform\:searchedkeyword {
	height: 40px;
	color: rgb(251, 25, 71);
	font-size: 16px;
	border: 0px;
	width: 100%;
	outline: none;
}

#searchkeywordform\:keywordsearchbutton {
	background-image:
		url('#{request.contextPath}/resources/images/search.svg');
	background-size: 30px 30px;
	background-color: rgba(255, 255, 255, 0);
	min-width: 30px;
	width: 30px;
	height: 30px;
	border: 0px;
	border-radius: 0px;
	margin-top: 5px;
	cursor: pointer;
}

#searchkeywordform\:searchedkeywordmessage {
	margin: 0px;
	padding: 0px;
}

#searchkeywordbuttondiv {
	float: right;
	height: 40px;
	width: 35px;
	margin-left: 5px;
}

#searchkeywordinputdiv {
	height: 40px;
	overflow: hidden;
}

#archivesearchform\:archivedatelabel {
	float: left;
	margin: 5px 5px;
}

#archivesearchform\:archivedate {
	float: left;
	margin: 3px 5px;
}

#archivesearchform\:archivedatemessage {
	float: left;
	margin: 5px 5px;
}

#archivesearchform\:searcharchivebutton {
	margin: 10px 0px;
	font-size: 18px;
	line-height: 18px;
	padding: 0px 10px;
}

.faqquestionlink {
	color: rgb(251, 25, 71);
	font-size: 16px;
}

.faqquestion {
	color: rgb(251, 25, 71);
	font-size: 20px;
	display: block;
	margin: 40px 0px 20px 0px;
}

.faqanswer {
	font-size: 16px;
	letter-spacing: 1px;
}

.registrationlink,.loginlink,.logoutlink {
	color: rgb(251, 25, 71);
	margin-left: 10px;
	font-size: 15px;
}

#loggedininfo {
	margin-left: 10px;
	font-size: 15px;
}

#topheaderdiv {
	height: 20px;
	margin: 10px 0px;
}

#loginregistrationlinkdiv {
	float: right;
}

#registrationform\:registrationgrid {
	margin: 15px 0px;
}

#logingrid {
	margin: 15px 0px;
}

.registrationlabel {
	margin-right: 20px;
}

.registrationinput,.registrationcaptcha {
	margin-left: 20px;
}

#registrationform\:registrationbutton {
	font-size: 18px;
	line-height: 18px;
	padding: 0px 10px;
}

#backtomain\:backtomainpagebutton {
	font-size: 18px;
	line-height: 18px;
	padding: 0px 10px;
}

.loginbutton {
	font-size: 18px;
	line-height: 18px;
	padding: 0px 10px;
}

.recommendationtypebutton,.keywordlanguageselectionbutton {
	margin-right: 10px;
	font-size: 13px;
	line-height: 13px;
	padding: 0px 15px;
	margin-bottom: 10px;
	width: auto;
}

.recommendationheadertext {
	font-size: 24px;
	font-weight: bold;
}

.mailtoicon,.originallinkicon {
	width: 20px;
	margin-left: 5px;
	vertical-align: bottom;
}

#searcharticlesform\:searcharticlesbutton {
	margin-top: 20px;
	font-size: 18px;
	line-height: 18px;
	padding: 0px 10px;
}

.searchattribute {
	width: 160px !important;
	margin-bottom: 5px;
	margin-top: 5px;
	box-sizing: border-box;
}

.searchexplanation {
	font-size: 11px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.recommentdedheaderdiv {
	margin-top: 20px;
}

.rssicon {
	width: 27px;
	height: 27px;
	margin-left: 5px;
}

.rsslinktext {
	font-size: 27px;
	color: #FB1947;
}

.refreshcommentsicon {
	width: 27px;
	height: 27px;
	margin-left: 5px;
	display: none;
}

.continuousreadicon {
	height: 32px;
	margin-left: 5px;
}

#commentsheaderform\:continuosreadenabledicon {
	display: none;
}
#commentsheaderform\:continuosreaddisabledicon {
	display: inline;
}

.captchaimage{
	width: 120px; 
	height: 40px;
}


@media only screen and (max-width: 640px) {
	#dotherightthing {
		float: none;
		height: 56px;
		background-color: rgba(255, 255, 255, 0.90);
		width: 100%;
	}
	#contentwrapper {
		margin: 0px auto;
		width: 100%;
		background-position: 0px 60px;
	}
	#contentwrapper main {
		margin-left: 0px;
		min-height: 960px;
		background-color: rgba(255, 255, 255, 0.90);
	}
	#contentwrapper #top {
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 20px;
	}
	#contentwrapper article {
		padding: 10px 10px 10px 10px;
	}
	#contentwrapper #footer {
		padding: 20px 10px 20px 10px;
	}
	#searcharticlediv {
		width: auto;
	}
	#topheaderdiv {
		height: 30px;
	}
	.headernav {
		width: 100%;
		margin: 0px;
		height: 56px;
	}
	.mainnavigationlink {
		margin: 0;
		width: 85%;
		text-align: center;
	}
	.mainnavigationlink img {
		padding: 0px;
		height: 100%;
		width: auto;
	}
	.yescommentheaderboxtext {
		padding: 0px;
	}
	#mainyescommenttext {
		font-size: 26px;
	}
	#mainmenutext {
		display: none;
	}
	.menu {
		width: 15%;
		float: right;
	}
	.menuicon {
		float: right;
	}
	#menu-dropdown {
		right: 0px;
		width: auto;
	}
	.button {
		font-size: 14px;
	}
	.button.first {
		float: left;
		margin: 0;
		width: 50%;
		background-color: rgba(251, 25, 71, 0.8);
	}
	.button.middle {
		float: left;
		margin: 0;
		width: 50%;
		background-color: rgba(251, 25, 71, 0.8);
	}
	.button.last {
		float: left;
		margin: 0;
		width: 50%;
		background-color: rgba(251, 25, 71, 0.8);
	}
}